<app-nav-tarefas></app-nav-tarefas>

  <div class="container container-register">
    
      <form>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputName">Nome:</label>
                  <input type="text" class="form-control"  required id="inputName" placeholder="Nome">
              </div>
              <div class="form-group col-md-6">
                  <label for="inputSurname">Sobrenome</label>
                  <input type="text" class="form-control" id="inpuSurname" placeholder="Sobrenome">
              </div>
              <div class="form-group col-md-6">
                  <label for="validationDefaultUsername">Email</label>
                  <input type="email" class="form-control" id="defaultLoginFormEmail" placeholder="Email" required>
              </div>
              
              <div class="form-group col-md-6">
                  <label for="inputPassword">Senha</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
              </div>
          </div>
          <div class="col-md-12 text-center"> 
              <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
      </form>
  </div>
