<app-nav-task></app-nav-task>


<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100">
        <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
     
        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> TASK <i class="input-helper"></i></label> </div> 
        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> TASK <i class="input-helper"></i></label> </div> 
     
      </div>
    
  </div>

</div>
