
<app-nav-task></app-nav-task>

<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
            
                <form class="login100-form validate-form">
                    
                    <div class="form-row align-items-center">
                        
                        <div class="form-group col-md-6">
                            <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                <input matInputclass="full-width" class="input100 has-val" type="text" name="email">
                                <span class="focus-input100" data-placeholder="First Name"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                <input matInputclass="full-width" class="input100 has-val" type="text" name="email">
                                <span class="focus-input100" data-placeholder="Last Name"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                                <input matInputclass="full-width" class="input100 has-val" type="text" name="email">
                                <span class="focus-input100" data-placeholder="E-mail"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Enter password">
                                <span class="btn-show-pass">
                                    <i class="zmdi zmdi-eye"></i>
                                </span>
                                <input class="input100 has-val"  matInput type="password" name="pass">
                                <span class="focus-input100" data-placeholder="Password"></span>
                            </div>
                        </div>
                
                    </div>
                    <div class="form-row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn">
                                       REGISTER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
                
            </div>
        </div>
  
</div>
