<!--
<div class="container login-container">
    <div class="row d-flex justify-content-center">
       
        <div class=" col-md-4 login-form-2">
            <h3>Login</h3>
            <form [formGroup]="formulario">
                <div class="form-group">
                    <input type="text" class="form-control"  formControlName="email" placeholder="Digite seu Email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="senha"  placeholder="Digite a sua senha" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetRgT" value="Login">Cadastrata-se Já</a>
                    <a href="#" class="ForgetPwd" value="Login">Esqueceu Senha?</a>
                </div>
                 
            </form>
        </div>
    </div>
</div>
<app-form-debug [form]="formulario"></app-form-debug>--> <!--Testando Formulario Reativo-->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                   Bem-vindo
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    <!-- <mat-form-field class="full-width">
                        <mat-label>Usuário</mat-label>
                        <input matInput class="input100" type="text" name="email">
                    </mat-form-field>-->
                    
                    
                    <input matInputclass="full-width" class="input100 has-val" type="text" name="email">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>
               
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100 has-val"  matInput type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Nao tem uma conta?
                    </span>

                    <a class="txt2" href="#">
                        Cadastrata-se
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="formGroup">
    <form class="form">
        <div class="inputs_login">
             
             <div class="inputs_titulo"><h2>Login</h2></div>
             <mat-form-field class="full-width">
                    <mat-label>Usuário</mat-label>
                    <input matInput placeholder="Email">
              </mat-form-field>
        
            <mat-form-field class="full-width">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha">
            </mat-form-field>
        </div>
        <button mat-raised-button class='input_button'color="primary">Primary</button>
    </form>
</div>-->


