<div class="nav-color d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Logo/Nome</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-3 text-light" href="#">Home</a>
      <a class="p-3 text-light" href="#">Usuários</a>
    </nav>
</div>
<div class="container text-right">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">Adicionar</button>
</div>
<div class="container listContainer">
    <ul class="list-group tarefas">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="flexCheckDefault">Tarefa 1</label>
            </div>
            <div class="btn-buttons">
              <button class="btn-trash btn btn-outline-danger btn-sm"><fa-icon [icon]="faTrash"></fa-icon></button>
              <button class="btn-pen btn btn-outline-primary btn-sm"><fa-icon [icon]="faPen"></fa-icon></button>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-check">   
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="flexCheckDefault">Tarefa 2</label>
            </div>
            <div class="btn-buttons">
              <button class="btn-trash btn btn-outline-danger btn-sm"><fa-icon [icon]="faTrash"></fa-icon></button>
              <button class="btn-pen btn btn-outline-primary btn-sm"><fa-icon [icon]="faPen"></fa-icon></button>
            </div>
        </li>
      </ul>
</div>


<!--Modal-->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Título do modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
</div>

<!--Fim Modal-->