<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-primary border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Logo/Nome</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-3 text-light" href="#">Home</a>
      <a class="p-3 text-light" href="#">Usuários</a>
    </nav>
</div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="flexCheckDefault">
                  Tarefa 1
                </label>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="flexCheckDefault">
                 Tarefa 2
                </label>
            </div>
        </li>
      </ul>
</div>