
<div class="container login-container">
    <div class="row d-flex justify-content-center">
        
        <div class=" col-md-4 login-form-2">
            <h3>Login</h3>
            <form [formGroup]="formulario">
                <div class="form-group">
                    <input type="text" class="form-control"  formControlName="email" placeholder="Digite seu Email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="senha"  placeholder="Digite a sua senha" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetRgT" value="Login">Cadastrata-se Já</a>
                    <a href="#" class="ForgetPwd" value="Login">Esqueceu Senha?</a>
                </div>
                 
            </form>
        </div>
    </div>
</div>
<!--<app-form-debug [form]="formulario"></app-form-debug>--> <!--Testando Formulario Reativo-->
